h1{
    color:#f0ffff;
    background-color:#000000;
    text-align:center;
}
p{
    color:#ff0000;
    font-style:italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;
}
.footer{
  text-align:center;
  justify-content: space-evenly;
  
  
}
.pictures{
    display:flex;
    justify-content:flex-end;
}
body{
    border-style:groove;
    border-color: orange;
    border-width: 100px;
    background-image: url("background.jpg");
    background-size: 1500px;
}
